h1, h2, h3, a, caption, th {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h4 {
  text-align: center;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  background-color: #5495F4;
  text-align: right;
}

nav a {
  color: #fff;
}

.about, footer {
  background-color: #C6D9F3;
}

.features h2,h3 {
  color: #F27F26;
}

.sign-up {
  background-color: #0F60EF;
}

form {
  background-color: #fff;
}

.white {
  color: #fff;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  background-color: #fff;
  color: #000;
}

input {
  border-color: #000;
}
 .btn-blue {
   background-color: #6ac7bb;
   border-radius: 5px;
 }

 .banner {
   display: block;
   width: 100%;
 }

a:hover {
   background-color: #F27F26;
   color: #fff;
 }

 nav a:hover {
   background-color: #5495F4;
   color: #000;
 }

.or {
  color: #F27F26;
}

.account {
  font-weight: normal;
  text-decoration: underline;
}

.scroll {
  min-width: 50em;
}
