
html {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, a, caption, th {
  font-family: "Josefin Sans", sans-serif;
}

h1, h2, h4 {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  background-color: #5495f4;
}

nav a {
  color: #fff;
}

.about, footer {
  background-color: #c6d9f3;
}

.features h2, h3 {
  color: #f27f26;
}

.sign-up {
  background-color: #0f60ef;
}

form {
  background-color: #fff;
}

.white {
  color: #fff;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  background-color: #fff;
  color: #000;
}

input {
  border-color: #000;
}

.btn-blue {
  background-color: #6ac7bb;
  border-radius: 5px;
}

.banner {
  display: block;
  width: 100%;
}

a:hover {
  background-color: #f27f26;
  color: #fff;
}

nav a:hover {
  background-color: #5495f4;
  color: #000;
}

.or {
  color: #f27f26;
  font-family: "Josefin Sans", sans-serif;
}

.account {
  text-decoration: underline;
}

.scroll {
  min-width: 50em;
}

.logo {
  width: 40%;
}

.banner-content {
  left: 5em;
}

.border-bottom {
  border-bottom: 3px solid #0f60ef;
}

.banner-content-pricing {
  top: 5em;
}

@media only screen and (min-width: 60em) {


}
