h1, h2, h3, a {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
  text-align: center;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  background-color: #5495F4;
}

.about, footer {
  background-color: #C6D9F3;
}

.features h2,h3 {
  color: #F27F26;
}

.sign-up {
  background-color: #0F60EF;
}

form {
  background-color: #fff;
}

.white {
  color: #fff;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  background-color: #fff;
  color: #000;
  align-items: center;
}

input {
  border-color: #000;
}
 .btn-blue {
   background-color: #C6D9F3;

 }
